<!DOCTYPE html>
<html lang="en">
	<head>
		<f:layout name="Default" />
		<meta charset="utf-8">
		<title>Fluid</title>
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
		<link href="/Assets/Components/prism/prism.css" rel="stylesheet" />
		<link href="/Assets/Styles/Main.css" rel="stylesheet" />
		<link href='https://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
	</head>

	<body>

		<nav class="navbar navbar-default navbar-static-top">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand" href="/">Fluid</a>
				</div>

				<ul class="nav navbar-nav navbar-right">
					<li><a href="../navbar/">Default</a></li>
					<li><a href="./">Static top <span class="sr-only">(current)</span></a></li>
				</ul>
			</div>
			</div>
		</nav>


		<div class="container">

			<f:render section="Main" />

		</div>

		<footer>
			<div class="container">

				foobar

			</div>
		</footer>

		<script src="/Assets/Components/prism/prism.js"></script>
	</body>
</html>
