<!DOCTYPE html>
<html lang="en">
	<head>
		<f:layout name="Default" />
		<meta charset="utf-8">
		<title>Fluid</title>
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
		<link href="/Assets/Components/prism/prism.css" rel="stylesheet" />
		<link href="/Assets/Styles/Main.css" rel="stylesheet" />
		<link href='https://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	</head>

	<body>

		<nav class="navbar navbar-default navbar-static-top">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand" href="/">Fluid</a>
				</div>

				<ul class="nav navbar-nav navbar-right">
					<li><a href="/">Overview</a></li>
					<li><a href="/getting-started">Getting Started</a></li>
					<li><a href="/documentation">Documentation</a></li>
					<li><a href="/about">About</a></li>
				</ul>
			</div>
		</nav>

		<f:render section="Main" />

		<footer>
			<div class="container">

				foobar

			</div>
		</footer>

		<script src="/Assets/Components/jquery/jquery-1.12.0.min.js"></script>
		<script src="/Assets/Components/prism/prism.js"></script>
		<script src="/Assets/Components/match-height/jquery.match-height.js"></script>
	</body>
</html>
