<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:f="http://xsd.helmut-hummel.de/ns/TYPO3/CMS/Fluid/ViewHelpers">
<f:layout name="Default" />

<f:section name="Main">
	<div class="banner">
		<div class="container">
			<h1>TYPO3.Fluid Rendering Engine</h1>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-xs-8 main-content" data-mh="main-content">
				<p>
					Fluid is a modern templating engine based on a xml based syntax. It helps you create clean and functional templates while maintaining performance. Templates can be compiled into static php cache files, that are amazingly fast. It is based on PSR-4, requires no dependencies, is easy to integrate and can be extended in various places.
				</p>
				<div class="media">
					<div class="media-left">
						<i class="fa fa-child icon-round icon-xl"></i>
					</div>
					<div class="media-body">
						<h4 class="media-heading">Easy to write</h4>
						The syntax is based on html and let's you transform your design into code with ease
					</div>
				</div>

				<div class="media">
					<div class="media-left">
						<i class="fa fa-rocket icon-round icon-xl"></i>
					</div>
					<div class="media-body">
						<h4 class="media-heading">Ludicrous speed.</h4>
						Fluid compiles to a pure php cache that enables speed, you don't have to worry about.
					</div>
				</div>

				<div class="media">
					<div class="media-left">
						<i class="fa fa-code icon-round icon-xl"></i>
					</div>
					<div class="media-body">
						<h4 class="media-heading">Built to be flexible and extandable</h4>
						From adding custom viewHelpers to replacing
						core classes it's built to be flex to your needs.
					</div>
				</div>

				<hr>

				<section>
					<h3>Basic Syntax</h3>

					<p>Fluid has two main syntax formats - the tag mode and the inline/shorthand mode.</p>

					<d:code>
						<f:count>{items}</f:count>
					</d:code>
					<p>Is the same as:</p>

					<d:code>
						{items -> f:count()}
					</d:code>
					<p>The reason for this is, so that you can cleanly nest viewHelpers like this:</p>

					<d:code>
						<div class="contains-{items -> f:count()}">...</div>
					</d:code>
					<p>For more details check out the Syntax Documentation: The Fluid syntax - how the special Fluid syntax works</p>
				</section>

				<section>
					<h3>ViewHelpers</h3>

					<p>ViewHelpers are fluids concept of enabling logic inside by mapping xml tags to viewHelper classes.</p>

					<d:code>
						<my:helloWorld name="John"/>
					</d:code>
					<p>In order to use ViewHelpers you need to register a namespace for it, in this case this could look like:</p>

					<d:code language="php">
						$view->getViewHelperResolver()->registerNamespace('my', 'Foo\My\ViewHelpers');
					</d:code>
					<p>Then it outputs "Hey John, how are you?" because fluid can parse this and map it's arguments to the ViewHelper class like this:</p>

					<d:code language="php">
						class HelloWorldViewHelper extends AbstractViewHelper {
							/**
							 * @return void
							 */
    						public function initializeArguments() {
        						parent::initializeArguments();
								$this->registerArgument('name', 'string', 'Tell me your name', TRUE);
							}

							/**
							 * Outputs a nice greeting based on a name
							 *
							 * @return string
							 */
							public function render() {
								return sprintf('Hey %s, how are you?', $this->arguments['name']);
							}
						}
					</d:code>
					<p>You can define any number of arguments, required, optional, type restricted, etc. To find out more check: ViewHelpers - what these classes do in the Fluid language</p>
				</section>
			</div>
			<div class="col-xs-4 sidebar" data-mh="main-content">
				<h4>Quick install</h4>
				Fluid is available through composer simply run this command in your project root,
				to add it into your project.
				<d:code>
					composer require typo3fluid/fluid
				</d:code>

				<h4>New to Fluid?</h4>
				<ul class="nav">
					<li><a href="documentation/getting-started">Getting Started</a></li>
					<li><a href="documentation/create-a-viewhelper">Create your first ViewHelper</a></li>
				</ul>
			</div>
		</div>
	</div>
</f:section>
</div>